In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot

In [2]:
# Load the data
data = pd.read_csv('data/Suunto_data.csv')

In [3]:
import datetime

# For each record, extract the first 8 characters of the Time column
data['Time'] = data['Time'].str[:8]

# Convert the Time column to a datetime object with the format 'dd/mm/yy'
data['Time'] = pd.to_datetime(data['Time'], format='%d/%m/%y')

# I want to change the datetime format to 'dd/mm/yy'
data['Time'] = data['Time'].dt.strftime('%d/%m/%y')
print(data['Time'])

0      29/01/24
1      22/01/24
2      15/01/24
3      08/01/24
4      01/01/24
         ...
309    26/02/18
310    19/02/18
311    12/02/18
312    05/02/18
313    29/01/18
Name: Time, Length: 314, dtype: object

In [4]:
 # I want to remove the 'km' from the Distance column and convert it to a float. I need to replace comma with a dot to be able to do that. Skip the rows that contain '-'
data['Distance'] = data['Distance'].replace('-', np.nan)
data['Distance'] = data['Distance'].str.replace('km', '')
data['Distance'] = data['Distance'].str.replace(',', '.').astype(float)


print(data['Distance'])

0       60.16
1       69.05
2       66.42
3       55.20
4       64.73
        ...
309     31.52
310    159.70
311     52.57
312    100.30
313     21.14
Name: Distance, Length: 314, dtype: float64

In [5]:
# Do the same for the Avg Avg speed column, but convert it to a float   
data['Avg speed'] = data['Avg speed'].replace('-', np.nan)
data['Avg speed'] = data['Avg speed'].str.replace('km/h', '')
data['Avg speed'] = data['Avg speed'].str.replace(',', '.').astype(float)

print(data['Avg speed'])

0      11.5
1      11.8
2       9.2
3      11.3
4      10.8
       ...
309     3.9
310     6.5
311    12.8
312    11.4
313    11.7
Name: Avg speed, Length: 314, dtype: float64

In [6]:


data['Duration'] = data['Duration'].replace('-', np.nan)
data['Duration'] = data['Duration'].str.replace("'", ":")
# Remove the dot and replace the numbers after the dot with zeros
data['Duration'] = data['Duration'].str.replace('.', ':00')


# Function to convert string to timedelta
from datetime import timedelta
def convert_to_timedelta(time_str):
    if pd.notnull(time_str):
        hours, minutes, seconds = map(int, time_str.split(':'))
        return timedelta(hours=hours, minutes=minutes, seconds=seconds)
    else:
        return pd.NaT
data['Duration'] = data['Duration'].apply(convert_to_timedelta)
print(data['Duration'])

0     0 days 05:12:40
1     0 days 05:50:39
2     0 days 07:13:38
3     0 days 05:54:10
4     0 days 06:01:02
            ...
309   0 days 08:01:47
310   1 days 00:28:01
311   0 days 04:06:52
312   0 days 08:48:12
313   0 days 01:48:09
Name: Duration, Length: 314, dtype: timedelta64[ns]

/var/folders/9b/frrhgpdd5pd7by2_7c1l7wsh0000gn/T/ipykernel_46477/3862107455.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Duration'] = data['Duration'].str.replace('.', ':00')